<section class="h-full">
    <div
      class="h-40 bg-gray-300 flex items-center shadow-sm shadow-gray-200 px-14 text-[40px] text-zinc-800 border-b-2 border-zinc-300"
    >
      <h1>Orçamentos</h1>
    </div> 
  
    <div class="px-10">
      <div class="mt-8">
        <button
        routerLink="/gerarOrcamento"
          class="px-6 py-3  text-emerald-700 rounded-md border border-emerald-700 ho hover:bg-emerald-700 hover:text-gray-100"
        >
          Novo Orçamento
        </button>
      </div>
      <table
        class="mt-8 w-full rounded-md border-collapse "
      >
        <thead class="">
          <tr>
            <th class="border border-gray-300 py-4">Nr.</th>
            <th class="border border-gray-300 py-4">Nome / Razão Social</th>
            <th class="border border-gray-300 py-4">Quantidade m²</th>
            <th class="border border-gray-300 py-4">R$</th>
            <th class="border border-gray-300 py-4">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td class="border border-gray-300 py-4 px-6">1</td>
              <td class="border border-gray-300 py-4 px-6">Henrique Santos Breuel</td>
              <td class="border border-gray-300 py-4 px-6">22m²</td>
              <td class="border border-gray-300 py-4 px-6">R$ 5.000,00</td>
              <td class="border border-gray-300 py-4 px-6">
                  <div class="flex justify-evenly">
                      <button class="text-blue-600 border border-blue-600 rounded-md p-2 hover:bg-blue-600 hover:text-white">
                          <i class="bi bi-pencil pe-2"></i>
                          <span>Editar</span>
                      </button>
                      <button class="text-red-600 border border-red-600 rounded-md p-2 hover:bg-red-600 hover:text-white  ">
                          <i class="bi bi-trash pe-2"></i>
                          <span>Excluir</span>
                      </button>
                  </div>
               
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  