<div class="h-full fixed w-60 bg-emerald-900 text-gray-100">
  <div class="text-[24px] flex items-center mt-8 p-6 mb-3 cursor-pointer">
    <i class="bi bi-app-indicator"></i>
    <h1 class="ps-4">Estimate</h1>
  </div>

  <hr class="border-gray-400 mx-2" />

  <nav class=" p-3 mt-5 font-light">
    <ul >
        <li routerLink="/orcamentos" routerLinkActive="active" class="nav-item">
            <i class="bi bi-file-earmark-spreadsheet pe-3 text-[20px]" ></i>
            <span class="text-lg" >Orçamentos</span>
        </li>
        <li routerLink="/clientes" routerLinkActive="active" class="nav-item">
            <i class="bi bi-people-fill pe-3 text-[20px]"></i>
            <span class="text-lg">Clientes</span>
        </li>
        <li routerLink="/produtos" routerLinkActive="active" class="nav-item">
            <i class="bi bi-box-seam-fill pe-3 text-[20px]"></i>
            <span class="text-lg">Produtos  </span>
        </li>

    </ul>
  </nav>

</div>
